/*  ---------------- Debut Reset CSS  ---------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*  -----------------  Fin Reset CSS  ----------------- */

/*--COULEURS--------------------------------------------*/

.eyesColorGreen{color:#4C9149;}
.noseColorBrown{color:#814F2F;}
.grey{color:#A8A5A5;}

/*--STRUCTURE--------------------------------------------*/

a{
	margin:0px 70px;
	max-height:0px;
	text-decoration: none;
	color:#814F2F;
	text-shadow: 0px 0px 0.8rem #FFF;
}

a:hover{
	color:#FFF;
	text-shadow: 0px 0px 0.3rem #4E270E;
}

body{
	font-family: 'Lakki Reddy', cursive;
	background: #FFF;
	margin-top: 50px;
	text-align: center;
	color:#814F2F;
}

.divContent{
	text-align: center;
	margin:0 auto;
}

.containerHeader{
	width: 940px;
	border-radius: 10px;
	background-color:white; 
	margin: 0 auto;
	margin-bottom: 20px;
	box-shadow: 0px -3px 0.7em #A8A5A5, inset 0px -3px 0.4em #4C9149;
}
.cube1{
	/*height:800px;*/
	/*overflow:auto;*/
}
.message{
	border: 1px solid green;
	border-radius: 15px;
	padding: 25px;
	box-shadow: 10px 5px 5px #888888;
	margin:10px ;
}

.containerContent{
	width: 900px;
	border-radius: 10px;
	background-color:white; 
	margin: 0 auto;
	margin-bottom: 20px;
	box-shadow: 0px -3px 1.3rem #909090, inset 0px -2px 1rem #145B11;
}

.containerFooter{
	width: 940px;
	height:30px;
	border-radius: 10px;
	background-color:white; 
	margin: 0 auto;
	margin-bottom: 20px;
	box-shadow: 0px 3px 0.7em #A8A5A5, inset 0px 3px 0.4em #4C9149;
}

*{ box-sizing: border-box;}

.imgFooter{ max-width: 2%;
}


h1, h2, h3, h4, h5, h6{	text-shadow: 0px 0px 0.8rem #FFF;}

h1{	text-align:right;font-size:60px;}

h2{	font-size:40px;}
h3{	font-size:30px;text-align:center;}
h4{	font-size:24px;text-align:center;}

h2, h6{	text-align:right; margin-right:20px;}


h5{	font-size:25px;}
h6{	font-size:25px;}

.catStyleHeader{
    background: #4C9149; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#4C9149, #FFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#4C9149, #FFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4C9149, #FFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4C91492, #FFF); /* Standard syntax */
}

.catStyleContent{
    background: #B8D4B7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#B8D4B7, #FFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#B8D4B7, #FFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#B8D4B7, #FFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#B8D4B7, #FFF); /* Standard syntax */
}

.catStyleFooter{
	padding:2px;
	margin-top: 20px;
    background: #FFF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FFF, #639C61); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFF, #639C61); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFF, #639C61); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFF, #639C61); /* Standard syntax */
}

.floatLeft{
	float:left;
}

.divCenter{
	width:100%;
	text-align: center;
	margin:0 auto;
}

header{
	display: block;
	height: 100px;
	margin:2px;
}

nav{
	font-size:25px;
	display: block;
	width: 98%;
	height: 50px;
	text-align: right;
}
ol, ul {
	text-align: left;
	margin-left: 80px;
	margin-bottom: 40px;
}
